<div id="section_content">
  <h1> Commits </h1>
  <ul id="commits">
    <li>Commits here...</li>
  </ul>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/handlebars-1.0.rc.1.min.js"></script>

<script id="commit-template" type="text/x-handlebars-template">
  <div class="commit">
    <p><a href="{{repository.url}}" target="_blank">Repository: {{repository.name}}</a></p>
    <p>ID: {{githubId}}</p>
    <p>message: {{message}}</p>
    <p><a href="{{url}}" target="_blank">{{url}}</a></p>
    <p><b>Commit Diff:</b> {{diff}}</p>
  </div>
</script>

<script>
var EB = EB || {};
  EB.Global = {
    'onConnect': function() {

    },
    'processCommits': function(latestCommits){
      console.log('in processCommits');
      for(var i = 0, len=latestCommits.length; i < len; i++){
        var commit = latestCommits[i];
        // $('#commits').prepend('<li>' + JSON.stringify(commit) + '</li>');

        var source = $("#commit-template").html();
        console.log(commit);
        var template = Handlebars.compile(source);
        console.log(template(commit));
        $('#commits').prepend(template(commit));
      }
      console.log('finished processCommits');
    }
  };

var socket = io.connect('<%= geddy.config.clientFullHostname %>', {
            'connect timeout': 500,
            'reconnect': true,
            'reconnection delay': 500,
            'reopen delay': 500,
            'max reconnection attempts': 10
        });
    
    socket.on('connect', function () {
      console.log('CONNECTED!');
      socket.emit('getLatestCommits', function (data) {
        console.log(data);
        EB.Global.processCommits(data);
      });
      console.log('finished binding to events!');
    });

  socket.on('data', function(data) {
    // console.log(data);
    EB.Global.processCommits(data);
  });

  
</script>