<style>
.commit iframe { height: 50px; width: 500px;}
</style>

<div id="section_content">
  <h1> Commits </h1>
  <ul id="commits">
    <li>Commits here...</li>
  </ul>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/handlebars-1.0.rc.1.min.js"></script>
<!--
  _id: "50f66f1da76a8816cd000001"
_saved: true
added: Array[0]
after: "ee53daa4e1898262929a9e83de0d4d119dac5c70"
author: Object
before: "46f6ea6ade4e9196597c0b29cbaa4d7193a667b4"
createdAt: "2013-01-16T09:13:01.541Z"
githubId: "ee53daa4e1898262929a9e83de0d4d119dac5c70"
id: "CCD19C0A-AFAE-4CF5-9057-74B66EE46957"
message: "test"
ref: "refs/heads/master"
repository: Object
created_at: "2013-01-15T21:57:22-08:00"
description: "testing stuff"
fork: false
forks: 0
has_downloads: true
has_issues: true
has_wiki: true
id: 7640181
name: "test-repo"
open_issues: 0
owner: Object
private: false
pushed_at: "2013-01-16T00:22:43-08:00"
size: 112
stargazers: 0
url: "https://github.com/kengoldfarb/test-repo"
watchers: 0
__proto__: Object
timestamp: "2013-02-18T08:22:35.000Z"
type: "Commit"
updatedAt: null
url: "https://github.com/kengoldfarb/test-repo/commit/ee53daa4e1898262929a9e83de0d4d119dac5c70"
-->

<script id="commit-template" type="text/x-handlebars-template">
  <div class="commit">
    <p><a href="{{repository.url}}" target="_blank">Repository: {{repository.name}}</a></p>
    <p>ID: {{githubId}}</p>
    <p>message: {{message}}</p>
    <p><a href="{{url}}" target="_blank">{{url}}</a></p>
    <p><b>Commit Diff:</b> {{diff}}</p>
  </div>
</script>

<script>
var EB = EB || {};
  EB.Global = {
    'onConnect': function() {

    },
    'processCommits': function(latestCommits){
      console.log('in processCommits');
      for(var i = 0, len=latestCommits.length; i < len; i++){
        var commit = latestCommits[i];
        // $('#commits').prepend('<li>' + JSON.stringify(commit) + '</li>');

        var source = $("#commit-template").html();
        console.log(commit);
        var template = Handlebars.compile(source);
        console.log(template(commit));
        $('#commits').prepend(template(commit));
      }
      console.log('finished processCommits');
    },
    // 'newCommits': function(newCommits){}
  };

var socket = io.connect('<%= geddy.config.clientFullHostname %>', {
            'connect timeout': 500,
            'reconnect': true,
            'reconnection delay': 500,
            'reopen delay': 500,
            'max reconnection attempts': 10
        });
    
    socket.on('connect', function () {
      console.log('CONNECTED!');
      socket.emit('getLatestCommits', function (data) {
        console.log(data);
        EB.Global.processCommits(data);
      });
      console.log('finished binding to events!');
    });

  socket.on('data', function(data) {
    // console.log(data);
    EB.Global.processCommits(data);
  });

  
</script>